h3 {
    background-color: #ccc;
    border-bottom: 1px solid black;
}

.different {
    background-color: green;
}

.todoitem__list-item_checked {
    text-decoration: line-through;
}

.todoitem__checkbox {
    margin-right: 5px;
}