h3 {
    background-color: #ccc;
    border-bottom: 1px solid black;
}

.different {
    background-color: green;
}

.todoitem__list-item {
    padding: 10px;
}

.todoitem__list-item_checked {
    text-decoration: line-through;
}

.todoitem__checkbox {
    margin-right: 5px;
}

.todoitem__delete-button {
    margin-left: 5px;
    padding: 5px 10px;
    background-color: #ccc;
    border-radius: 50%;
}