$main-border-color: #999;
$page-background-color: #fff;
$main-background-color: #ccc;
$main-text-color: #333;
$drop-shadow-color: #ccc;
$link-color: #006dcc;
$link-color-hover: #005fb2;
$link-color-visited: #005fb2;