
@import "./colors.scss";
@import "./typography.scss";
@import "./accessibility.scss";



@mixin card {
  border: 1px solid $main-border-color;
  padding: 1rem;
  margin: 0.25rem;
  background-color: $page-background-color;
  border-radius: 0.25rem;
  box-shadow: 0.1rem 0.1rem 0.1rem $drop-shadow-color;
}