@import "./colors.scss";


// MIXINS

@mixin list-reset {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

@mixin font-family {
    font-family: "Salesforce Sans", serif, Arial, Helvetica, sans-serif;
}


// STYLES

body {
    @include font-family;
    line-height: 1.4rem;
    color: $main-text-color;
  }

a {
    color: $link-color;
    &:visited {
        color: $link-color-visited;
    }
    &:hover, &:active {
        color: $link-color-hover;
    }
}

h2 {
    font-size: 1.25rem;
    margin: 0 0 1rem 0;
}