@import "./app-styles/app-styles.scss";

@import "./app-styles/app-styles.scss";


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app {
  @include card;

  @include lg-screen {
    @include flexbox-parent;
  }

}

.app__cart {
  @include lg-screen {
    @include flexbox-child;
  }
}

.app__total {

  @include sm-screen {
    border-top: 2px solid $main-border-color;
    padding-top: 2rem;
    margin-top: 2rem;
  }

  @include lg-screen {
    @include flexbox-child;
    padding-left: 2rem;
  }
}

// ToDo: pull header into its own component
.app__cart-image {
  display: inline-block;
  background-color: $icon-background-color;
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.25rem;
  border-radius: 0.25rem;
  padding: 0.25rem;
}
