@import "../../app-styles/app-styles.scss";


.shoppinglistitem__list-item {
    padding: 10px;
}

.shoppinglistitem__list-item_checked {
    text-decoration: line-through;
}

.shoppinglistitem__checkbox {
    margin-right: 5px;
}

.shoppinglistitem__delete-button {
    margin-left: 5px;
    padding: 5px 10px;
    background-color: $main-background-color;
    border-radius: 50%;
}