@import "../../app-styles/app-styles.scss";

.shoppinglistitem__list-item {
  padding: 0.25rem;
}

.shoppinglistitem__list-item_checked .shoppinglistitem__checkbox-label {
  text-decoration: line-through;
}

.shoppinglistitem__item-image {
  height: 2.5rem;
  vertical-align: middle;
}

.shoppinglistitem__checkbox {
  margin-right: 0.25rem;
}

.shoppinglistitem__checkbox-label {
    vertical-align: middle;

    @include sm-screen {
    width: 12rem;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.shoppinglistitem__checkbox-label-title {
  font-weight: bold;
}

.shoppinglistitem__checkbox-label-stock {
    margin-left: 0.1rem;
}

.shoppinglistitem__delete-button {
  margin-left: 0.25rem;
  border: 0;
  vertical-align: middle;
}

.shoppinglistitem__delete-button-image {
  border-radius: 0.25rem;
  padding: 0.25rem;
  height: 2rem;
  width: 2rem;
  background-color: $icon-background-color;
  
}